@charset "UTF-8";

a {
	color: #444;
	font-weight: bold;
}
h1 a {
	display: inline-block;
	font-weight: inherit;
	outline: 0;
	text-decoration: none;
}

html, body {
	background: #fff;
	margin: 0;
}
body {
	font: 1em/1.4 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #444;
}
.page-outer {
	border: solid #444;
	border-width: 0.4em 0;
}
.page-inner {
	padding: 1.4em;
}
.page-title {
	margin-top: 0;
}
footer {
	display: table;
	border-top: 1px solid #444;
}
footer a {
	font-weight: normal;
}

article {
	display: block;
	border-top: 0.2em solid #444;
	margin: 2.6em 0 2.8em;
	max-width: 33em;
}

h1 {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4;
	margin: 1.4em 0;
	text-transform: uppercase;
	letter-spacing: 1pt;
	word-spacing: 1pt;
}
h2 {
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
	margin: 1.8em 0 -0.4em;
}

p, pre {
	margin: 1.4em 0;
}
ul, ol {
	margin: 1.4em 0;
	padding: 0;
}
ul {
	list-style: none;
}
ul.inline li {
	display: inline-block;
	margin-right: 0.2em;
}
li ul, li ol {
	margin: 0 0 0 2em;
}
blockquote, q {
	font-family: Georgia, serif;
}
blockquote {
	/*margin: 0 0 0 2em;*/
	border-left: 1px solid #444;
	margin: 1.4em 0 1.4em 0.2em;
	padding: 0 0 0 1em;
}
q {
	font-style: italic;
}
q i, q em {
	font-style: normal;
}
blockquote p {
	margin: 0;
}
blockquote p + p {
	text-indent: 2em;
}
q:before {
	content: "‘";
}
q:after {
	content: "’";
}

hr {
	border: 0;
	border-bottom: 0.1em dashed #444;
	height: 0;
	margin: 1.3em 0;
	width: 39%;
}

.tilde-stuff {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: center;

	/* nostalgia */
	font-smooth: never;
	-webkit-font-smoothing: none;
	image-rendering: optimizeSpeed;             /* Legal fallback */
	image-rendering: -moz-crisp-edges;          /* Firefox        */
	image-rendering: -o-crisp-edges;            /* Opera          */
	image-rendering: -webkit-optimize-contrast; /* Safari         */
	image-rendering: optimize-contrast;         /* CSS3 Proposed  */
	image-rendering: crisp-edges;               /* CSS4 Proposed  */
	image-rendering: pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}

img {
	max-width: 100%;
}
a, a img {
	border: 0;
}

.float-right {
	float: right;
	margin-top: 0;
	position: relative;
	left: 0; top: 0;
	max-width: 39%;
}

.flip-x {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	/*filter: FlipH;
	 *   -ms-filter: "FlipH";*/
}

@media (min-width: 500px) {
	.page-inner {
		padding: 2.8em;
	}
}
